<ion-view title="Test Page">
    <ion-content>
        <div class="list">
            <a class="item" href="#" onclick="window.open('http://www.nraboy.com/contact', '_system', 'location=yes'); return false;">
                Open a Browser
            </a>
            <a class="item" href="#" onclick="window.open('http://www.twitter.com/nraboy', '_system', 'location=yes'); return false;">
                Open a Twitter Client or Browser
            </a>
            <a class="item" href="#" onclick="window.open('https://plus.google.com/+NicRaboy', '_system', 'location=yes'); return false;">
                Open a Google+ Client or Browser
            </a>
        </div>
    </ion-content>
</ion-view>
